.col
  display: flex
  flex-direction: row
  flex-wrap: wrap
  &-1
    flex-basis: 8.333333%
  &-2
    flex-basis: 16.666666%
  &-3
    flex-basis: 24.999999%
  &-4
    flex-basis: 33.333332%
  &-5
    flex-basis: 41.666665%
  &-6
    flex-basis: 49.999998%
  &-7
    flex-basis: 58.333331%
  &-8
    flex-basis: 66.666664%
  &-9
    flex-basis: 74.999997%
  &-10
    flex-basis: 83.33333%
  &-11
    flex-basis: 91.666663%
  &-12
    flex-basis: 99.999996%

