
<h2 class="scrollspy" data-lvl="2" data-title="Navs" data-ico="fa-angle-right">Navs</h2>
<p class="primary">Normal</p>
<ul class="navs">
  <li><a href="#">Menu item 1</a></li>
  <li><a href="#">Menu item 2</a>
    <ul>
      <li><a href="#">Sub Menu item 2 1</a>
        <ul>
          <li><a href="#">Sub Menu item 2 1 1</a></li>
          <li><a href="#">Sub Menu item 2 1 2</a></li>
        </ul>
      </li>
      <li><a href="#">Sub Menu item 2 2</a></li>
    </ul>
  </li>
  <li><a href="#">Menu item 3</a></li>
</ul>
<p class="primary">Horizontal</p>
<ul class="navs horizontal">
  <li><a href="#">Menu item 1</a></li>
  <li><a href="#">Menu item 2</a>
    <ul>
      <li><a href="#">Sub Menu item 2 1</a>
        <ul>
          <li><a href="#">Sub Menu item 2 1 1</a></li>
          <li><a href="#">Sub Menu item 2 1 2</a></li>
        </ul>
      </li>
      <li><a href="#">Sub Menu item 2 2</a></li>
    </ul>
  </li>
  <li><a href="#">Menu item 3</a></li>
</ul>