h2(class="scrollspy" data-lvl="2" data-title="Navs" data-ico="fa-angle-right") Navs

p.primary Normal

ul.navs
    li
        a(href="#") Menu item 1
    li
        a(href="#") Menu item 2
        ul
            li
                a(href="#") Sub Menu item 2 1
                ul
                    li
                        a(href="#") Sub Menu item 2 1 1
                    li
                        a(href="#") Sub Menu item 2 1 2
            li
                a(href="#") Sub Menu item 2 2

    li
        a(href="#") Menu item 3


p.primary Horizontal


ul.navs.horizontal
    li
        a(href="#") Menu item 1
    li
        a(href="#") Menu item 2
        ul
            li
                a(href="#") Sub Menu item 2 1
                ul
                    li
                        a(href="#") Sub Menu item 2 1 1
                    li
                        a(href="#") Sub Menu item 2 1 2
            li
                a(href="#") Sub Menu item 2 2

    li
        a(href="#") Menu item 3
