h2(class="scrollspy" data-lvl="2" data-title="Sidenav" data-ico="fa-angle-right") Sidenav
div.col
    div.col-3
        div.sidenav.top
            div.sidenavbtn
                div.sidenavbtntitle Top
                div.sidenavbtnicon
                    i.fa.fa-bars
            div.sidenavcontent
                div.col
                    div.col-6
                        ul.list-unstyled
                          li Lorem ipsum dolor sit amet
                          li Consectetur adipiscing elit
                          li Integer molestie lorem at massa
                          li Facilisis in pretium nisl aliquet
                          li Nulla volutpat aliquam velit
                            ul
                              li Phasellus iaculis neque
                              li Purus sodales ultricies
                              li Vestibulum laoreet porttitor sem
                              li Ac tristique libero volutpat at
                          li Faucibus porta lacus fringilla vel
                          li Aenean sit amet erat nunc
                          li Eget porttitor lorem
                    div.col-6
                        ul.list-unstyled
                          li Lorem ipsum dolor sit amet
                          li Consectetur adipiscing elit
                          li Integer molestie lorem at massa
                          li Facilisis in pretium nisl aliquet
                          li Nulla volutpat aliquam velit
                            ul
                              li Phasellus iaculis neque
                              li Purus sodales ultricies
                              li Vestibulum laoreet porttitor sem
                              li Ac tristique libero volutpat at
                          li Faucibus porta lacus fringilla vel
                          li Aenean sit amet erat nunc
                          li Eget porttitor lorem
    div.col-3
        div.sidenav.right
            div.sidenavbtn.justify-content-center
                div.sidenavbtntitle Right
                div.sidenavbtnicon
                    i.fa.fa-bars
            div.sidenavcontent
                div.col
                    div.col-6
                        ul.list-unstyled
                          li Lorem ipsum dolor sit amet
                          li Consectetur adipiscing elit
                          li Integer molestie lorem at massa
                          li Facilisis in pretium nisl aliquet
                          li Nulla volutpat aliquam velit
                            ul
                              li Phasellus iaculis neque
                              li Purus sodales ultricies
                              li Vestibulum laoreet porttitor sem
                              li Ac tristique libero volutpat at
                          li Faucibus porta lacus fringilla vel
                          li Aenean sit amet erat nunc
                          li Eget porttitor lorem
                    div.col-6
                        ul.list-unstyled
                          li Lorem ipsum dolor sit amet
                          li Consectetur adipiscing elit
                          li Integer molestie lorem at massa
                          li Facilisis in pretium nisl aliquet
                          li Nulla volutpat aliquam velit
                            ul
                              li Phasellus iaculis neque
                              li Purus sodales ultricies
                              li Vestibulum laoreet porttitor sem
                              li Ac tristique libero volutpat at
                          li Faucibus porta lacus fringilla vel
                          li Aenean sit amet erat nunc
                          li Eget porttitor lorem
    div.col-3
        div.sidenav.bottom
            div.sidenavbtn.justify-content-center
                div.sidenavbtntitle Bottom
                div.sidenavbtnicon
                    i.fa.fa-bars
            div.sidenavcontent
                div.col
                    div.col-6
                        ul.list-unstyled
                          li Lorem ipsum dolor sit amet
                          li Consectetur adipiscing elit
                          li Integer molestie lorem at massa
                          li Facilisis in pretium nisl aliquet
                          li Nulla volutpat aliquam velit
                            ul
                              li Phasellus iaculis neque
                              li Purus sodales ultricies
                              li Vestibulum laoreet porttitor sem
                              li Ac tristique libero volutpat at
                          li Faucibus porta lacus fringilla vel
                          li Aenean sit amet erat nunc
                          li Eget porttitor lorem
                    div.col-6
                        ul.list-unstyled
                          li Lorem ipsum dolor sit amet
                          li Consectetur adipiscing elit
                          li Integer molestie lorem at massa
                          li Facilisis in pretium nisl aliquet
                          li Nulla volutpat aliquam velit
                            ul
                              li Phasellus iaculis neque
                              li Purus sodales ultricies
                              li Vestibulum laoreet porttitor sem
                              li Ac tristique libero volutpat at
                          li Faucibus porta lacus fringilla vel
                          li Aenean sit amet erat nunc
                          li Eget porttitor lorem
    div.col-3
        div.sidenav.left
            div.sidenavbtn.justify-content-flex-end
                div.sidenavbtntitle Left
                div.sidenavbtnicon
                    i.fa.fa-bars
            div.sidenavcontent
                div.col
                    div.col-6
                        ul.list-unstyled
                          li Lorem ipsum dolor sit amet
                          li Consectetur adipiscing elit
                          li Integer molestie lorem at massa
                          li Facilisis in pretium nisl aliquet
                          li Nulla volutpat aliquam velit
                            ul
                              li Phasellus iaculis neque
                              li Purus sodales ultricies
                              li Vestibulum laoreet porttitor sem
                              li Ac tristique libero volutpat at
                          li Faucibus porta lacus fringilla vel
                          li Aenean sit amet erat nunc
                          li Eget porttitor lorem
                    div.col-6
                        ul.list-unstyled
                          li Lorem ipsum dolor sit amet
                          li Consectetur adipiscing elit
                          li Integer molestie lorem at massa
                          li Facilisis in pretium nisl aliquet
                          li Nulla volutpat aliquam velit
                            ul
                              li Phasellus iaculis neque
                              li Purus sodales ultricies
                              li Vestibulum laoreet porttitor sem
                              li Ac tristique libero volutpat at
                          li Faucibus porta lacus fringilla vel
                          li Aenean sit amet erat nunc
                          li Eget porttitor lorem
