h2(class="scrollspy" data-lvl="2" data-title="Collapse" data-ico="fa-angle-right") Collapse
pre
    | <div class="collapse">
    |     <div class="collapsebtn primary">Click and see more</div>
    |     <div class="collapsecontent"></div>
    | </div>
div.collapse
    div.collapsebtn.primary Click and see more
    div.collapsecontent
        ul.list-unstyled
          li Lorem ipsum dolor sit amet
          li Consectetur adipiscing elit
          li Integer molestie lorem at massa
          li Facilisis in pretium nisl aliquet
          li Nulla volutpat aliquam velit
            ul
              li Phasellus iaculis neque
              li Purus sodales ultricies
              li Vestibulum laoreet porttitor sem
              li Ac tristique libero volutpat at
          li Faucibus porta lacus fringilla vel
          li Aenean sit amet erat nunc
          li Eget porttitor lorem
