
<h2 class="scrollspy" data-lvl="2" data-title="Cards" data-ico="fa-angle-right">Cards</h2>
<pre><div class="col">
    <div class="col-4">
        <div class="card margin">test</div>
    </div>
    <div class="col-4">
        <div class="card margin">test</div>
    </div>
    <div class="col-4">
        <div class="card margin">test</div>
    </div>
    ...
</div></pre>
<div class="col">
  <div class="col-4">
    <div class="card margin">test</div>
  </div>
  <div class="col-4">
    <div class="card margin">test</div>
  </div>
  <div class="col-4">
    <div class="card margin">test</div>
  </div>
  <div class="col-4">
    <div class="card margin">test</div>
  </div>
  <div class="col-4">
    <div class="card margin">test</div>
  </div>
  <div class="col-4">
    <div class="card margin">test</div>
  </div>
</div>