* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  color: #222;
  line-height: 1.33; }

.container {
  width: 1200px;
  margin: auto;
  padding: 1em; }

a {
  text-decoration: none; }

h1 {
  font-size: 2.5em;
  padding: 0.4em 0; }

h2 {
  font-size: 2em;
  padding: 0.4em 0; }

h3 {
  font-size: 1.6em;
  padding: 0.4em 0; }

h4 {
  font-size: 1.4em;
  padding: 0.4em 0; }

h5 {
  font-size: 1.2em;
  padding: 0.4em 0; }

h6 {
  font-size: 1em;
  padding: 0.4em 0; }

p {
  padding-bottom: 0.5em; }

.primary {
  font-size: 1.4em;
  font-weight: bold; }

.second {
  font-size: 0.8em;
  color: grey; }

.txt-left {
  text-align: left; }

.txt-center {
  text-align: center; }

.txt-right {
  text-align: right; }

.txt-justify {
  text-align: justify; }

.txt-nowrap {
  white-space: nowrap; }

.txt-low {
  text-transform: lowercase; }

.txt-up {
  text-transform: uppercase; }

.txt-cap {
  text-transform: capitalize; }

ul {
  margin-left: 2em; }

ol {
  margin-left: 2em; }

ul.list-unstyled {
  list-style: none; }

ul.list-inline {
  list-style: none; }
  ul.list-inline li {
    display: inline; }

dl dt {
  font-weight: bold; }

dl dd {
  padding-left: 0.5em; }

dl.descr-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  dl.descr-horizontal dt {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    margin-bottom: 0.5em; }
  dl.descr-horizontal dd {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    margin-bottom: 0.5em; }

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .col-1 {
    width: 8.333333%; }
  .col-2 {
    width: 16.666666%; }
  .col-3 {
    width: 24.999999%; }
  .col-4 {
    width: 33.333332%; }
  .col-5 {
    width: 41.666665%; }
  .col-6 {
    width: 49.999998%; }
  .col-7 {
    width: 58.333331%; }
  .col-8 {
    width: 66.666664%; }
  .col-9 {
    width: 74.999997%; }
  .col-10 {
    width: 83.33333%; }
  .col-11 {
    width: 91.666663%; }
  .col-12 {
    width: 99.999996%; }

.form .form_item {
  padding: 1em; }
  .form .form_item > * {
    margin-bottom: 1em; }
  .form .form_item .form_item_group {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .form .form_item .form_item_group .form_item_group_item.main {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
    .form .form_item .form_item_group .form_item_group_item.noborder_left input, .form .form_item .form_item_group .form_item_group_item.noborder_left textarea {
      border-left: none; }
    .form .form_item .form_item_group .form_item_group_item.noborder_right input, .form .form_item .form_item_group .form_item_group_item.noborder_right textarea {
      border-right: none; }

.form input, .form textarea {
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0.5em 1em;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.form select {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background: none;
  padding: 0.5em 1em; }
  .form select option {
    padding: 0.5em 1em; }

.form button, .form input[type="submit"], .form input[type="reset"], .form input[type="button"] {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.15);
  height: 100%;
  cursor: pointer; }

.form label {
  font-family: sans-serif;
  font-size: 0.9em;
  font-weight: bold; }

.form input[type="radio"], .form input[type="checkbox"] {
  width: 3em; }

.btn, .btn-primary, .btn-secondary, .btn-success, .btn-danger, .btn-warning, .btn-info, .btn-light, .btn-dark, .btn-default {
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 0.5em 1em;
  cursor: pointer; }

.btn-primary {
  background-color: #2196f3;
  color: white; }

.btn-secondary {
  background-color: #969494;
  color: white; }

.btn-success {
  background-color: #8bc34a;
  color: white; }

.btn-danger {
  background-color: #ff5722;
  color: white; }

.btn-warning {
  background-color: #ff9800;
  color: white; }

.btn-info {
  background-color: #00bcd4;
  color: white; }

.btn-light {
  background-color: #fff;
  color: grey; }

.btn-dark {
  background-color: #222;
  color: white; }

table {
  width: 100%;
  border-collapse: collapse; }
  table td {
    border-bottom: 1px solid #ddd;
    padding: 0.5em; }
  table th {
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 0.5em; }

table.tbl-striped tr:nth-child(even) {
  background-color: #f2f2f2; }

table.tbl-bordered td {
  border: 1px solid #ddd; }

table.tbl-bordered th {
  border: 1px solid #ddd; }

table.tbl-hover tr:hover {
  background-color: #ddd; }

table.tbl-compact td {
  padding: 0.25em; }

table.tbl-compact th {
  padding: 0.25em; }

.skeleton-avatar {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%; }

.skeleton-img {
  display: block;
  width: 400px;
  height: 300px; }

.skeleton-title {
  display: block;
  width: 350px;
  height: 2.5em; }

.skeleton-label {
  display: block;
  width: 300px;
  height: 1em; }

.skeleton-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: none !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .skeleton-text:before {
    background: none !important; }
  .skeleton-text div {
    background: #eee;
    height: 1em;
    display: block;
    margin-right: 1%;
    overflow: hidden; }
  .skeleton-text-1 {
    -ms-flex-preferred-size: 7.333333%;
        flex-basis: 7.333333%; }
  .skeleton-text-2 {
    -ms-flex-preferred-size: 15.666666%;
        flex-basis: 15.666666%; }
  .skeleton-text-3 {
    -ms-flex-preferred-size: 23.999999%;
        flex-basis: 23.999999%; }
  .skeleton-text-4 {
    -ms-flex-preferred-size: 32.333332%;
        flex-basis: 32.333332%; }
  .skeleton-text-5 {
    -ms-flex-preferred-size: 40.666665%;
        flex-basis: 40.666665%; }
  .skeleton-text-6 {
    -ms-flex-preferred-size: 48.999998%;
        flex-basis: 48.999998%; }
  .skeleton-text-7 {
    -ms-flex-preferred-size: 57.333331%;
        flex-basis: 57.333331%; }
  .skeleton-text-8 {
    -ms-flex-preferred-size: 65.666664%;
        flex-basis: 65.666664%; }
  .skeleton-text-9 {
    -ms-flex-preferred-size: 73.999997%;
        flex-basis: 73.999997%; }
  .skeleton-text-10 {
    -ms-flex-preferred-size: 82.33333%;
        flex-basis: 82.33333%; }
  .skeleton-text-11 {
    -ms-flex-preferred-size: 90.666663%;
        flex-basis: 90.666663%; }
  .skeleton-text-12 {
    -ms-flex-preferred-size: 98.999996%;
        flex-basis: 98.999996%; }

.skeleton-avatar, .skeleton-img, .skeleton-title, .skeleton-label, .skeleton-text, .skeleton-text-1, .skeleton-text-2, .skeleton-text-3, .skeleton-text-4, .skeleton-text-5, .skeleton-text-6, .skeleton-text-7, .skeleton-text-8, .skeleton-text-9, .skeleton-text-10, .skeleton-text-11, .skeleton-text-12 {
  background: #eee;
  margin-bottom: 1em;
  position: relative;
  overflow: hidden; }
  .skeleton-avatar:before, .skeleton-img:before, .skeleton-title:before, .skeleton-label:before, .skeleton-text:before, .skeleton-text-1:before, .skeleton-text-2:before, .skeleton-text-3:before, .skeleton-text-4:before, .skeleton-text-5:before, .skeleton-text-6:before, .skeleton-text-7:before, .skeleton-text-8:before, .skeleton-text-9:before, .skeleton-text-10:before, .skeleton-text-11:before, .skeleton-text-12:before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: 1;
    width: 500%;
    margin-left: -250%;
    -webkit-animation: phAnimation 1.8s linear infinite;
            animation: phAnimation 1.8s linear infinite;
    background: -webkit-gradient(linear, left top, right top, color-stop(46%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.4)), color-stop(54%, rgba(255, 255, 255, 0))) 50% 50%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0) 54%) 50% 50%; }

@-webkit-keyframes phAnimation {
  0% {
    -webkit-transform: translate3d(-30%, 0, 0);
            transform: translate3d(-30%, 0, 0); }
  100% {
    -webkit-transform: translate3d(30%, 0, 0);
            transform: translate3d(30%, 0, 0); } }

@keyframes phAnimation {
  0% {
    -webkit-transform: translate3d(-30%, 0, 0);
            transform: translate3d(-30%, 0, 0); }
  100% {
    -webkit-transform: translate3d(30%, 0, 0);
            transform: translate3d(30%, 0, 0); } }

.tab .tabbtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .tab .tabbtns .tabbtnsitem {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
    padding: 0.5em;
    cursor: pointer;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2); }
    .tab .tabbtns .tabbtnsitem:last-child {
      border-right: 1px solid rgba(0, 0, 0, 0.2); }
    .tab .tabbtns .tabbtnsitem.active {
      border-bottom: none; }

.tab .tabcontents .tabcontentsitem {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top: none;
  padding: 1em;
  display: none; }

.tab .tabcontents .tabcontentsitem.active {
  display: block; }

.tab.vertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .tab.vertical .tabbtns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
