* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*:focus {
  outline: none; }

body {
  color: #222;
  line-height: 1.33; }

.container {
  width: 100%;
  margin: auto; }
  @media (max-device-width: 990px) {
    .container {
      width: 100%; } }

a {
  text-decoration: none; }

hr {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }

h1 {
  font-size: 2.5em;
  padding: 0.4em 0; }

h2 {
  font-size: 2em;
  padding: 0.4em 0; }

h3 {
  font-size: 1.6em;
  padding: 0.4em 0; }

h4 {
  font-size: 1.4em;
  padding: 0.4em 0; }

h5 {
  font-size: 1.2em;
  padding: 0.4em 0; }

h6 {
  font-size: 1em;
  padding: 0.4em 0; }

p {
  padding-bottom: 0.5em; }

.primary {
  font-size: 1.4em;
  font-weight: bold; }

.second {
  font-size: 0.8em;
  color: grey; }

.txt-left {
  text-align: left; }

.txt-center {
  text-align: center; }

.txt-right {
  text-align: right; }

.txt-justify {
  text-align: justify; }

.txt-nowrap {
  white-space: nowrap; }

.txt-low {
  text-transform: lowercase; }

.txt-up {
  text-transform: uppercase; }

.txt-cap {
  text-transform: capitalize; }

ul {
  margin-left: 2em; }

ol {
  margin-left: 2em; }

ul.list-unstyled {
  list-style: none; }

ul.list-inline {
  list-style: none; }
  ul.list-inline li {
    display: inline; }

dl dt {
  font-weight: bold; }

dl dd {
  padding-left: 0.5em; }

dl.descr-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  dl.descr-horizontal dt {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    margin-bottom: 0.5em; }
  dl.descr-horizontal dd {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    margin-bottom: 0.5em; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ccc;
  opacity: 0.7;
  z-index: 5000; }

.padding {
  padding: 1em; }

.padding-t {
  padding-top: 1em; }

.padding-r {
  padding-right: 1em; }

.padding-b {
  padding-bottom: 1em; }

.padding-l {
  padding-left: 1em; }

.padding-lg {
  padding: 2em; }

.padding-lg-t {
  padding-top: 2em; }

.padding-lg-r {
  padding-right: 2em; }

.padding-lg-b {
  padding-bottom: 2em; }

.padding-lg-l {
  padding-left: 2em; }

.padding-sm {
  padding: 0.5em; }

.padding-sm-t {
  padding-top: 0.5em; }

.padding-sm-r {
  padding-right: 0.5em; }

.padding-sm-b {
  padding-bottom: 0.5em; }

.padding-sm-l {
  padding-left: 0.5em; }

.margin {
  margin: 1em; }

.margin-t {
  margin-top: 1em; }

.margin-r {
  margin-right: 1em; }

.margin-b {
  margin-bottom: 1em; }

.margin-l {
  margin-left: 1em; }

.margin-lg {
  margin: 2em; }

.margin-lg-t {
  margin-top: 2em; }

.margin-lg-r {
  margin-right: 2em; }

.margin-lg-b {
  margin-bottom: 2em; }

.margin-lg-l {
  margin-left: 2em; }

.margin-sm {
  margin: 0.5em; }

.margin-sm-t {
  margin-top: 0.5em; }

.margin-sm-r {
  margin-right: 0.5em; }

.margin-sm-b {
  margin-bottom: 0.5em; }

.margin-sm-l {
  margin-left: 0.5em; }

.no-border {
  border: none !important; }

.no-border-t {
  border-top: none !important; }

.no-border-r {
  border-right: none !important; }

.no-border-b {
  border-bottom: none !important; }

.no-border-l {
  border-left: none !important; }

.full {
  height: 100%;
  width: 100%;
  padding: 0 !important; }

.fullheight {
  height: 100%;
  padding: 0 !important; }

.fullwidth {
  width: 100%;
  padding: 0 !important; }

.z1 {
  z-index: 1; }

.z2 {
  z-index: 2; }

.z3 {
  z-index: 3; }

.z4 {
  z-index: 4; }

.z5 {
  z-index: 5; }

.z6 {
  z-index: 6; }

.z7 {
  z-index: 7; }

.z8 {
  z-index: 8; }

.z9 {
  z-index: 9; }

.z10 {
  z-index: 10; }

.z11 {
  z-index: 11; }

.z12 {
  z-index: 12; }
