.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .col-1 {
    -ms-flex-preferred-size: 8.333333%;
        flex-basis: 8.333333%; }
  .col-2 {
    -ms-flex-preferred-size: 16.666666%;
        flex-basis: 16.666666%; }
  .col-3 {
    -ms-flex-preferred-size: 24.999999%;
        flex-basis: 24.999999%; }
  .col-4 {
    -ms-flex-preferred-size: 33.333332%;
        flex-basis: 33.333332%; }
  .col-5 {
    -ms-flex-preferred-size: 41.666665%;
        flex-basis: 41.666665%; }
  .col-6 {
    -ms-flex-preferred-size: 49.999998%;
        flex-basis: 49.999998%; }
  .col-7 {
    -ms-flex-preferred-size: 58.333331%;
        flex-basis: 58.333331%; }
  .col-8 {
    -ms-flex-preferred-size: 66.666664%;
        flex-basis: 66.666664%; }
  .col-9 {
    -ms-flex-preferred-size: 74.999997%;
        flex-basis: 74.999997%; }
  .col-10 {
    -ms-flex-preferred-size: 83.33333%;
        flex-basis: 83.33333%; }
  .col-11 {
    -ms-flex-preferred-size: 91.666663%;
        flex-basis: 91.666663%; }
  .col-12 {
    -ms-flex-preferred-size: 99.999996%;
        flex-basis: 99.999996%; }
