doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        title gulp-starter by greeschenko
        link(href='css/cfstyle.min.css?ver=0.0.2', rel='stylesheet')
        link(href='css/libs.css', rel='stylesheet')
        link(href='css/demo.min.css?ver=0.0.1', rel='stylesheet')
    body
        .container.col
            .sidemenu.padding
                #scrollspyres
            .col-3.padding
            .col-9.padding
                h1
                    i.fa.fa-gears
                    span  constructive-frontend/style
                h1(class="scrollspy" data-lvl="1" data-title="STYLE" data-ico="fa-angle-right") STYLES
                include styles/grid/grid.pug
                include styles/flex/flex.pug
                include styles/responsive/responsive.pug
                include styles/typography/typography.pug
                include styles/lists/lists.pug
                include styles/tables/tables.pug
                include styles/forms/forms.pug
                h1(class="scrollspy" data-lvl="1" data-title="COMPONENTS" data-ico="fa-angle-right") COMPONENTS
                include components/buttons/buttons.pug
                include components/media/media.pug
                include components/contentplaceholder/contentplaceholder.pug
                include components/cards/cards.pug
                h2 Icons
                h2 Dropdowns
                h2 Button groups
                h2 Button dropdowns
                h2 Input groups
                include components/navs/navs.pug
                include components/pills/pills.pug
                h2 Navbar
                h2 Breadcrumbs
                h2 Pagination
                h2 Labels
                h2 Badges
                h2 Page header
                h2 Thumbnails
                h2 Alerts
                h2 Progress bars
                h2 Media object
                h2 List group
                h2 Panels

                h1(class="scrollspy" data-lvl="1" data-title="JS PLUGINS" data-ico="fa-angle-right") JS PLUGINS
                include jsplugins/tabs/tabs.pug
                include jsplugins/sidenav/sidenav.pug
                include jsplugins/collapse/collapse.pug
                include jsplugins/modal/modal.pug
                h2 Dropdown
                h2 Scrollspy
                h2 Tooltip
                h2 Carousel

    footer
    script(src='js/libs.js')
    script(src='js/cfstyle.min.js?ver=0.0.1')
