h2(class="scrollspy" data-lvl="2" data-title="Pills" data-ico="fa-angle-right") Pills

.col
    .col-3.padding
        .pills.pills-primary
            .pills_name Test
            .pills_value 23
    .col-3.padding
        .pills.pills-secondary
            .pills_name Test
            .pills_value 23
    .col-3.padding
        .pills.pills-success
            .pills_name Test
            .pills_value 23
    .col-3.padding
        .pills.pills-danger
            .pills_name Test
            .pills_value 23
    .col-3.padding
        .pills.pills-warning
            .pills_name Test
            .pills_value 23
    .col-3.padding
        .pills.pills-info
            .pills_name Test
            .pills_value 23
    .col-3.padding
        .pills.pills-light
            .pills_name Test
            .pills_value 23
    .col-3.padding
        .pills.pills-dark
            .pills_name Test
            .pills_value 23

pre
    | <div class="col">
    |     <div class="col-3 padding">
    |         <div class="pills pills-primary">
    |             <div class="pills_name">Test</div>
    |             <div class="pills_value">23</div>
    |         </div>
    |     </div>
    |     <div class="col-3 padding">
    |         <div class="pills pills-secondary">
    |             <div class="pills_name">Test</div>
    |             <div class="pills_value">23</div>
    |         </div>
    |     </div>
    |     <div class="col-3 padding">
    |         <div class="pills pills-success">
    |             <div class="pills_name">Test</div>
    |             <div class="pills_value">23</div>
    |         </div>
    |     </div>
    |     <div class="col-3 padding">
    |         <div class="pills pills-danger">
    |             <div class="pills_name">Test</div>
    |             <div class="pills_value">23</div>
    |         </div>
    |     </div>
    |     <div class="col-3 padding">
    |         <div class="pills pills-warning">
    |             <div class="pills_name">Test</div>
    |             <div class="pills_value">23</div>
    |         </div>
    |     </div>
    |     <div class="col-3 padding">
    |         <div class="pills pills-info">
    |             <div class="pills_name">Test</div>
    |             <div class="pills_value">23</div>
    |         </div>
    |     </div>
    |     <div class="col-3 padding">
    |         <div class="pills pills-light">
    |             <div class="pills_name">Test</div>
    |             <div class="pills_value">23</div>
    |         </div>
    |     </div>
    |     <div class="col-3 padding">
    |         <div class="pills pills-dark">
    |             <div class="pills_name">Test</div>
    |             <div class="pills_value">23</div>
    |         </div>
    |     </div>
    | </div>
