h2(class="scrollspy" data-lvl="2" data-title="Tables" data-ico="fa-angle-right") Tables
h3 Basic
table
    tr
        th One
        th Two
        th Three
    tr
        td One
        td Two
        td Three
    tr
        td One
        td Two
        td Three
    tr
        td One
        td Two
        td Three
h3 Striped
table.tbl-striped
    tr
        th One
        th Two
        th Three
    tr
        td One
        td Two
        td Three
    tr
        td One
        td Two
        td Three
    tr
        td One
        td Two
        td Three
h3 Bordered
table.tbl-bordered
    tr
        th One
        th Two
        th Three
    tr
        td One
        td Two
        td Three
    tr
        td One
        td Two
        td Three
    tr
        td One
        td Two
        td Three
h3 Hover rows
table.tbl-hover
    tr
        th One
        th Two
        th Three
    tr
        td One
        td Two
        td Three
    tr
        td One
        td Two
        td Three
    tr
        td One
        td Two
        td Three
h3 Compact
table.tbl-compact
    tr
        th One
        th Two
        th Three
    tr
        td One
        td Two
        td Three
    tr
        td One
        td Two
        td Three
    tr
        td One
        td Two
        td Three
table.tbl-compact
    tr
        th One
        th Two
        th Three
    tr
        td One
        td Two
        td Three
    tr
        td One
        td Two
        td Three
    tr
        td One
        td Two
        td Three
h3 Combined table
table.tbl-striped.tbl-bordered.tbl-hover.tbl-compact
    tr
        th One
        th Two
        th Three
    tr
        td One
        td Two
        td Three
    tr
        td One
        td Two
        td Three
    tr
        td One
        td Two
        td Three
