
<h2 class="scrollspy" data-lvl="2" data-title="Pils" data-ico="fa-angle-right">Pils</h2>
<div class="col">
  <div class="col-3 padding">
    <div class="pils pils-primary">
      <div class="pils_name">Test</div>
      <div class="pils_value">23</div>
    </div>
  </div>
  <div class="col-3 padding">
    <div class="pils pils-secondary">
      <div class="pils_name">Test</div>
      <div class="pils_value">23</div>
    </div>
  </div>
  <div class="col-3 padding">
    <div class="pils pils-success">
      <div class="pils_name">Test</div>
      <div class="pils_value">23</div>
    </div>
  </div>
  <div class="col-3 padding">
    <div class="pils pils-danger">
      <div class="pils_name">Test</div>
      <div class="pils_value">23</div>
    </div>
  </div>
  <div class="col-3 padding">
    <div class="pils pils-warning">
      <div class="pils_name">Test</div>
      <div class="pils_value">23</div>
    </div>
  </div>
  <div class="col-3 padding">
    <div class="pils pils-info">
      <div class="pils_name">Test</div>
      <div class="pils_value">23</div>
    </div>
  </div>
  <div class="col-3 padding">
    <div class="pils pils-light">
      <div class="pils_name">Test</div>
      <div class="pils_value">23</div>
    </div>
  </div>
  <div class="col-3 padding">
    <div class="pils pils-dark">
      <div class="pils_name">Test</div>
      <div class="pils_value">23</div>
    </div>
  </div>
</div>
<pre><div class="col">
    <div class="col-3 padding">
        <div class="pils pils-primary">
            <div class="pils_name">Test</div>
            <div class="pils_value">23</div>
        </div>
    </div>
    <div class="col-3 padding">
        <div class="pils pils-secondary">
            <div class="pils_name">Test</div>
            <div class="pils_value">23</div>
        </div>
    </div>
    <div class="col-3 padding">
        <div class="pils pils-success">
            <div class="pils_name">Test</div>
            <div class="pils_value">23</div>
        </div>
    </div>
    <div class="col-3 padding">
        <div class="pils pils-danger">
            <div class="pils_name">Test</div>
            <div class="pils_value">23</div>
        </div>
    </div>
    <div class="col-3 padding">
        <div class="pils pils-warning">
            <div class="pils_name">Test</div>
            <div class="pils_value">23</div>
        </div>
    </div>
    <div class="col-3 padding">
        <div class="pils pils-info">
            <div class="pils_name">Test</div>
            <div class="pils_value">23</div>
        </div>
    </div>
    <div class="col-3 padding">
        <div class="pils pils-light">
            <div class="pils_name">Test</div>
            <div class="pils_value">23</div>
        </div>
    </div>
    <div class="col-3 padding">
        <div class="pils pils-dark">
            <div class="pils_name">Test</div>
            <div class="pils_value">23</div>
        </div>
    </div>
</div></pre>