
<h2 class="scrollspy" data-lvl="2" data-title="Buttons" data-ico="fa-angle-right">Buttons</h2>
<div>
  <input class="btn-primary" type="button" name="" id="" value="btn-primary"/>
  <input class="btn-secondary" type="button" name="" id="" value="btn-secondary"/>
  <input class="btn-success" type="button" name="" id="" value="btn-success"/>
  <input class="btn-danger" type="button" name="" id="" value="btn-danger"/>
  <input class="btn-warning" type="button" name="" id="" value="btn-warning"/>
  <input class="btn-info" type="button" name="" id="" value="btn-info"/>
  <input class="btn-light" type="button" name="" id="" value="btn-light"/>
  <input class="btn-dark" type="button" name="" id="" value="btn-dark"/>
  <input class="btn-default" type="button" name="" id="" value="btn-default"/>
</div>